<div class="page-header parallax clearfix" style="background-image:url('images/slide7.bbef9018.jpg')">
    <div class="title-subtitle-holder">
        <div class="title-subtitle-holder-inner">
            <h2>About SBFCC</h2>
        </div>
    </div>
</div>
<!-- End Page Header --> <!-- Breadcrumbs --> 
<div class="lgray-bg breadcrumb-cont">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">About Us</li>
        </ol>
    </div>
</div>
<!-- Start Body Content --> 
<div class="main" role="main">
    <div id="content" class="content full">
        <div class="container">
            <h2>Welcome to SBFCC</h2>
            <hr class="sm">
            <h4>The Subic Bay Freeport Chamber of Commerce</h4>
            <p>A member of the national Philippine Chamber of Commerce and Industry, is an independent, nonprofit, membership-funded organization founded in 1995 to serve and represent the interests of its member businesses. We are also an accredited marketer of the Philippine Retirement Authority.</p>
            <p>We are actively involved in a number of areas and are in the forefront of issues affecting our member businesses, their employees, and their families.</p>
            <p>The single distinguishing characteristic that sets SBFCC apart from other Chambers of Commerce is that our members come from some 24 countries around the world.</p>
            <div class="spacer-50"></div>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="icon-box icon-box-style1">
                        <div class="icon-box-head">
                            <span class="ico"><i class="icon-dialogue-think"></i></span> 
                            <h4>Introduction</h4>
                        </div>
                        <p>Welcome to the Subic Bay Freeport Chamber of Commerce. The Chamber is an independent, nonprofit, membership-funded organization founded in 1995 to serve and represent the interests of its member businesses.</p>
                        <br> 
                        <p>The single distinguishing characteristic that sets SBFCC apart from other Chambers of Commerce is that our member businesses come from some two-dozen countries around the world. The role of the Chamber is to: 
                        <ul>
                            <li>Serve as the collective voice of the business community in the Subic Bay area (including both within and outside the Subic Bay Freeport Zone);</li>
                            <li>Maintain an active, ongoing dialogue on behalf of the business community with local and national governments;</li>
                            <li>Offer policy suggestions to help strengthen the local and national economies;</li>
                            <li>Help promote the Subic Bay area and the Subic Bay Freeport Zone;</li>
                            <li>Offer information, advice, and assistance to our members;</li>
                            <li>Offer information, advice, and assistance to prospective new business considering investing in the Subic Bay Freeport Zone; and</li>
                            <li>Facilitate business and social interaction between our member businesses.</li>
                        </ul>
                        </p> 
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="icon-box icon-box-style1">
                        <div class="icon-box-head">
                            <span class="ico"><i class="icon-umbrella"></i></span> 
                            <h4>We're Involved</h4>
                        </div>
                        <p>The Subic Bay Freeport Chamber of Commerce is actively involved in a number of areas affecting our member businesses, their employees, and their families. 
                        <ul>
                            <li>We monitor changes in customs requirements;</li>
                            <li>We maintain active dialogue with the local and national governments regarding the status of the Freeport itself, including tax incentives, import/export regulations, changes to the physical boundaries of the Zone, transportation facilities, etc.;</li>
                            <li>As residents of the Subic Bay area we're intimately interested in protecting the unique beauty and ecological health of the local environment;</li>
                            <li>We help maintain good relations between member businesses and their employees;</li>
                            <li>We cooperate with local government and other interests to promote Subic Bay as a tourist destination, and to strengthen travel connections between Subic Bay and both other parts of the Philippines and international neighbors;</li>
                            <li>We represent the business community in an ongoing dialogue with the Subic Bay Metropolitan Authority, the administrator of the Subic Bay Freeport Zone;</li>
                            <li>We also actively cooperate with other local governmental entities, including with our neighboring City of Olongapo;</li>
                            <li>When needed we help coordinate and encourage relief projects in the face of occasional natural disasters like the eruption of Mt. Pinatubo in 1991;</li>
                        </ul>
                        </p> 
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="icon-box icon-box-style1">
                        <div class="icon-box-head">
                            <span class="ico"><i class="icon-microphone-2"></i></span> 
                            <h4>Get Involved</h4>
                        </div>
                        <p>The Subic Bay Freeport Chamber of Commerce holds General Meetings, every quarter, alternated with "open house/mixer/networking evenings". Meetings are held at rotating venues on the last Tuesday of each month.</p>
                        <br> 
                        <p> The Agenda of General Meetings revolves around reports from the Board of Directors on current issues and activities. Occasional guest speakers also share information and opinions with members and guests on a wide range of topics. In addition to information sharing, General meetings offer the assembly an opportunity to renew and maintain relationships with other local business associates, and to meet new participants in the Freeport community.</p>
                        <br> 
                        <p>Chamber members are also invited and encouraged to participate in strengthening the working and living environments in the Freeport Zone by participating in one or more of our Committees. Some Committees have ongoing mandates, while others are activated as necessary.</p>
                    </div>
                </div>
            </div>
            <hr class="fw">
            <!-- <h3>Our Staff</h3>
                <div class="spacer-10"></div>
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="grid-item staff-item format-standard">
                          <div class="grid-item-inner">
                              <a href="staff.html" class="media-box">
                                  <img src="images/staff1.2eb45835.jpg" alt="">
                                </a>
                              <div class="grid-content">
                                  <div class="staff-item-name">
                                  <h5>Donna May B. Tamayo</h5>
                                        <span class="meta-data">Executive Director</span>
                                    </div>
                                    <ul class="social-icons-colored">
                                        <li class="facebook"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                                        <li class="vimeo"><a href="https://www.vimeo.com/"><i class="fa fa-vimeo-square"></i></a></li>
                                        <li class="twitter"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                                        <li class="googleplus"><a href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem.</p>
                              </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="grid-item staff-item format-standard">
                          <div class="grid-item-inner">
                              <a href="staff.html" class="media-box">
                                  <img src="images/staff2.92f08860.jpg" alt="">
                                </a>
                              <div class="grid-content">
                                  <div class="staff-item-name">
                                  <h5>Brandon Dean</h5>
                                        <span class="meta-data">Pastor</span>
                                    </div>
                                    <ul class="social-icons-colored">
                                        <li class="facebook"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                                        <li class="vimeo"><a href="https://www.vimeo.com/"><i class="fa fa-vimeo-square"></i></a></li>
                                        <li class="twitter"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                                        <li class="googleplus"><a href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem.</p>
                              </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="grid-item staff-item format-standard">
                          <div class="grid-item-inner">
                              <a href="staff.html" class="media-box">
                                  <img src="images/staff3.e0c0a409.jpg" alt="">
                                </a>
                              <div class="grid-content">
                                  <div class="staff-item-name">
                                  <h5>Elizabeth Hart</h5>
                                        <span class="meta-data">Events Manager</span>
                                    </div>
                                    <ul class="social-icons-colored">
                                        <li class="facebook"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                                        <li class="vimeo"><a href="https://www.vimeo.com/"><i class="fa fa-vimeo-square"></i></a></li>
                                        <li class="twitter"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                                        <li class="googleplus"><a href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem.</p>
                              </div>
                          </div>
                        </div>
                    </div>
                </div> --> 
            <div class="spacer-20"></div>
        </div>
    </div>
</div>
