<!-- Start Page Header -->
<div class="page-header parallax clearfix">
    <div id="contact-map"></div>
</div>
<!-- End Page Header -->
<!-- Breadcrumbs -->
<div class="lgray-bg breadcrumb-cont">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Contact</li>
        </ol>
    </div>
</div>
<!-- Start Body Content -->
<div class="main" role="main">
    <div id="content" class="content full">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-5">
                    <h2>Our Locations</h2>
                    <hr class="sm">
                    <h4 class="short accent-color">SBMA, Philippines</h4>
                    <p>G/F Rm.101 SBMA Regulatory Building<br>corner Labitan St. and Rizal Highway<br>Subic Bay Freeport Zone, Philippines 2222<br/>+63 (047) 252-3180<br/><a href="mailto:contact@sbfcc.com">contact@sbfcc.com</a></p>
                    <!-- <hr class="fw cont">
                        <h4 class="short accent-color">London</h4>
                        <p>777, path to God<br>1800-989-990<br><a href="mailto:uk@adorechurch.com">uk@adorechurch.com</a></p>
                        <hr class="fw cont">
                        <h4 class="short accent-color">Toronto</h4>
                        <p>777, path to God<br>1800-989-990<br><a href="mailto:ca@adorechurch.com">ca@adorechurch.com</a></p> -->
                </div>
                <div class="col-md-8 col-sm-7">
                    <form method="post" id="contactform" name="contactform" class="contact-form clearfix" action="mail/contact.php">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" id="fname" name="First Name"  class="form-control input-lg" placeholder="First name*">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" id="lname" name="Last Name"  class="form-control input-lg" placeholder="Last name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" id="email" name="email"  class="form-control input-lg" placeholder="Email*">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" id="phone" name="phone" class="form-control input-lg" placeholder="Phone">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea cols="6" rows="7" id="comments" name="comments" class="form-control input-lg" placeholder="Message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input id="submit" name="submit" type="submit" class="btn btn-primary btn-lg btn-block" value="Submit now!">
                                <br/>
                            </div>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                    <div id="message"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Body Content